footer {
  padding-top: spacing(s);
  padding-bottom: spacing(s);
  padding-left: spacing(xs);
  padding-right: spacing(xs);
  border-top: spacing(xs) solid color(green, 700);

  background-color: color(ambient, dark);

  @include font-size(s);
  color: color(grey, 100);
}

a {
  margin-right: spacing(xs);
  margin-bottom: spacing(xxs);
  display: block;
  color: color(green, 300);
  text-decoration: none;

  transition: color .4s ease;

  &:hover {
    color: color(green, 700);
  }
}
