.header-bar {
  padding-top: spacing(s);
  padding-bottom: spacing(s);
  margin-bottom: spacing(xl);
  border-bottom: spacing(xxs) solid color(green, 700);

  width: 100%;

  background-color: color(ambient, dark);
  color: color(ambient, base);
}


.main-nav {
  text-align: right;
}


.nav-link {
  @include font-size(l);
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;

  transition: color .4s ease;

  &:not(:last-child) {
    margin-right: spacing(s);
  }

  &:not(:first-child) {
    margin-left: spacing(s);
  }

  &:hover {
    color: color(green, 700);
  }
}


@include breakpoint(xs) {
  .header-bar {
    margin-bottom: spacing(l);
  }

  .main-nav {
    margin-top: spacing(s);
    text-align: center;
  }
}
