.member {
  margin-bottom: spacing(xl);

  ._illu {
    height: 750px;
  }

  ._content {
    padding-top: spacing(m);
    padding-bottom: spacing(m-more);
    padding-left: spacing(l-less);
    padding-right: spacing(l-less);

    color: color(ambient);
    background-color: color(green, 700, .85);
  }

  [class*=col-] {
    position: relative;
  }

  .-pulled {
    z-index: 1;
  }
}



@include breakpoint(xs) {
  .member {
    &:not(:last-child) {
      margin-bottom: spacing(l);
    }

    .row, [class*=col-] {
      padding-left: 0;
      padding-right: 0;
    }

    ._illu {
      height: 400px;
    }

    ._content {
      padding-left: spacing(s);
      padding-right: spacing(s);
      background-color: color(grey, 900);
    }
  }
}
