.color-base {
  color: color(base);
}

.color-base-dark {
  color: color(base, dark);
}

.color-brand-blue {
  color: color(brand, blue);
}


.color-brand-yellow {
  color: color(brand, yellow);
}

.color-brand-tk {
  color: color(brand, tk);
}

.color-grey-400 {
  color: color(grey, 400);
}

.color-green-400 {
  color: color(green, 400);
}
