.button {
  padding-top: spacing(xs);
  padding-bottom: spacing(xs);
  padding-left: spacing(m-less);
  padding-right: spacing(m-less);

  display: inline-block;

  @include font-size(s);
  font-weight: bold;
  text-transform: uppercase;

  cursor: pointer;
  transition: background-color .4s ease;

  &,
  &:link,
  &:visited {
    text-decoration: none;
  }

  &.-full-width {
    width: 100%;
    display: block;
  }

  &.-spotify {
    background-color: #1DB954;
    border-radius: 5px;

    &:hover {
      background-color: lighten(#1DB954, 5);
    }
  }

  &.-apple-music {
    background-color: #fa586a;
    border-radius: 5px;

    &:hover {
      background-color: lighten(#fa586a, 5);
    }
  }

  &.-youtube-music {
    background-color: #ff0100;
    border-radius: 5px;

    &:hover {
      background-color: lighten(#ff0100, 5);
    }
  }
}



@include breakpoint(sm) {
  .button {
    padding-left: spacing(s);
    padding-right: spacing(s);
  }
}
