.link {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    color: color(green, 700);
    cursor: pointer;

    transition: color .4s ease;
  }

  &:hover {
    color: darken(color(green, 700), 5);
  }

  &.-block {
    display: inline-block;
    font-weight: bold;
  }
}
