.logo {
  width: 100%;
  height: auto;

  text-align: center;

  a {
    display: block;
    height: 100%;
  }

  :deep(svg) {
    height: 90px;
    display: block;
  }
}



//IE Hack
_:-ms-fullscreen, :root .logo {
  svg {
    height: 90px;
  }
}


@include breakpoint(sm) {
  .logo {
    :deep(svg) {
      height: 60px;
    }
  }
}


@include breakpoint(420px) {
  .logo {
    :deep(svg) {
      height: 45px;
    }
  }
}
