.logo {
  width: 100%;
  height: auto;

  text-align: center;

  a {
    display: block;
    height: 100%;
  }

  :deep(img) {
    max-width: 90px;
    display: block;
  }
}



//IE Hack
_:-ms-fullscreen, :root .logo {
  svg {
    height: 62px;
  }
}
