$colorPool: (
  white: #FFFFFF,
  grey: (
    100: #fafafa,
    900: #0e0e0e
  ),
  green: (
    700: #00897B,
  )
);

$colorNames: (
  base: (
    light: map_get(map_get($colorPool, grey), 100),
    base: map_get(map_get($colorPool, grey), 900),
  ),
  ambient: (
    base: map_get($colorPool, white),
    dark: map_get(map_get($colorPool, grey), 900),
  ),
);

$colors: map_merge($colorPool, $colorNames);
