$font-sizes: (
  lg: (
    xs: (12px, 18px),
    s: (14px, 21px),
    base: (18px, 27px),
    l: (20px, 30px),
    xl: (24px, 36px),

    h1: (80px, 100px),
    h2: (64px, 80px),
    h3: (48px, 60px),
    h4: (40px, 50px),
    h5: (32px, 40px),
    h6: (24px, 30px),
  ),

  sm: (
    xs: (12px, 18px),
    s: (14px, 21px),
    base: (18px, 27px),
    l: (20px, 30px),
    xl: (24px, 36px),

    h1: (64px, 80px),
    h2: (48px, 60px),
    h3: (40px, 50px),
    h4: (32px, 40px),
    h5: (24px, 30px),
    h6: (20px, 25px),
  ),

  xs: (
    xs: (10px, 15px),
    s: (12px, 18px),
    base: (16px, 24px),
    l: (18px, 27px),
    xl: (20px, 30px),

    h1: (40px, 50px),
    h2: (32px, 40px),
    h3: (32px, 40px),
    h4: (32px, 40px),
    h5: (24px, 30px),
    h6: (20px, 25px),
  )
);
